.background {
  height: 100%;
  background-size: cover;
  transform-origin: left top;
}

.mobile-rotater {
  transform-origin: left top;
}
.absolute{
  position: absolute;
  
}
.text{
  font-weight: bold;
  text-align: center;
  color: white;
}

.boder{
  border: 1px white solid;
}
.text-bold{

  font-weight: bold;
  text-align: center;
  color: white;
}
.text-while{
  text-align: center;
  color: white;
}


.button:hover {
  cursor: pointer;
}
.text-hiden {
  text-decoration: none; 
  color: white; 
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.custom-table {
  border-collapse: separate;
  border-spacing: 0 50px 0 50px; 
}
.let-right{
  float: right;
  text-align: left;
  width: 55%;
 
}
